/* Importación de fuentes */
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

:root {
  /* Colores principales */
  --color-fondo-principal: #000000;
  --color-acento-azul: #1E90FF;
  --color-acento-verde: #39FF14;

  /* Colores de texto */
  --color-texto-principal: #FFFFFF;
  --color-texto-secundario: #D3D3D3;

  /* Tipografía */
  --fuente-principal: 'Roboto', sans-serif;
  --fuente-encabezado: 'Orbitron', sans-serif;
}


/* Estilos del carrusel */

#myCarousel {
  max-width: 100%;   /* ancho máximo */
  max-height: 400px;  /* alto máximo */
  margin: auto;       /* centrar */

}
.carousel-item {
  height: 400px;      /* define la altura de cada slide */
}


/* Estilos card body */

.imgCard{
  height: 590px;
}

.card-body{
  height: 200px;
}
